{% extends "_layouts/application.html.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row-fluid">
<ul>
<li><a href="{{base_url()}}admin/pos/create" class="btn btn-info">Add New</a></li>
</ul>
</div>
<div class="table_head"><h6><i class="icon-th"></i>POs</h6></div>
<table class="table table-condensed table-bordered table-striped" id="datatables">
    <thead>
        <tr>            
            <th>PO No.</th>            
            <th>PO. Date</th>            
            <th>Approval Date</th>
            <th>Vendor Name</th>
            <th>Status</th>
            <th>QC Status</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for po in vendorpos %}
            <tr>    
                <td>#{{po.po_no}}</td>
                <td>{{po.po_date}}</td>
                <td>{{po.approval_date}}</td>
                <td>{{po.vendor_name}}</td>
                <td>{{po.status}}</td>
                <td>{{po.qc_status}}</td>
                <td><a href="{{ base_url()}}admin/pos/view/{{po.id}}" class="btn btn-mini"><i class="icon-view" title="View"></i></a></td>
                <td><a href="{{ base_url()}}admin/pos/delete/{{po.id}}" class="btn btn-mini" onclick="return confirm_delete();"><i class="icon-trash" title="Delete"></i></a></td>
            </tr>
	{% endfor %}
        </tbody>    
    </table>
            <script>
                function confirm_delete() {
                    if(confirm("Are you sure?"))
                        return true;
                    else
                        return false;
                }
            </script>
{% endblock %}